// Variables
@import "../node_modules/scss-reset/src/scss/_reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&family=Roboto:wght@400;500&display=swap");

$darkgray: #131417;
$lightgray: #252830;
$orange: #f2994a;
$font-family-primary: "Roboto", sans-serif;
$font-family-secondary: "Roboto Mono", monospace;
$transition-duration: 300ms;
$transition-timing: ease-out;

// Mixins
@mixin transition($property: all, $duration: $transition-duration, $timing: $transition-timing) {
    -webkit-transition: $property $duration $timing;
    -moz-transition: $property $duration $timing;
    -ms-transition: $property $duration $timing;
    -o-transition: $property $duration $timing;
    transition: $property $duration $timing;
}

@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model;
    -moz-box-sizing: $box-model;
    box-sizing: $box-model;
}

@mixin font-menu {
    font-size: 18px;
    line-height: 24px;
    color: #fafafa;
    text-decoration: none;
}

// Base styles
html {
    @include box-sizing(border-box);
}

*,
*:before,
*:after {
    @include box-sizing(inherit);
    outline: none !important;
}

body {
    font-family: $font-family-primary;
    overflow: hidden;
}

a {
    cursor: pointer;
}

.wrapper {
    background-image: url("../images/alpaca.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 80px);
}

.header-wrapper {
    background: $darkgray;
    box-shadow: 0px 4px 4px rgba(19, 20, 23, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: relative;
}

.header {
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 42px;
    height: 100%;

    &__logo {
        a {
            border: 0;
            text-decoration: none;
        }
        img {
            min-width: 46px;
            min-height: 46px;
            height: 46px;
            width: 46px;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        max-width: 678px;
        width: 100%;

        *,
        *:before,
        *:after {
            @include transition;
        }
    }

    &__contacts {
        font-family: $font-family-secondary;
        white-space: nowrap;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        svg {
            margin-right: 13px;
        }

        a {
            @include font-menu;
        }
    }
}

.menu-item {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    &__link {
        @include font-menu;
        padding: 0 20px;
        position: relative;
    }

    &.drop-icon > a {
        display: inline-flex;

        &:after {
            content: "";
            width: 8px;
            height: 6px;
            display: block;
            position: absolute;
            right: 0;
            bottom: 50%;
            transform: translateY(50%) rotate(180deg);
            background-image: url("../images/drop.svg");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &:hover {
        & > ul {
            display: flex;
        }

        &.drop-icon > a {
            &::after {
                transform: translateY(50%) rotate(0);
            }
        }
    }
}

.first-sub-menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 80px;
    left: 0;
    display: none;

    &::after {
        content: "";
        left: 47px;
        top: -14px;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 14px 14px 14px;
        border-color: transparent transparent $lightgray transparent;
    }
}

.first-sub-menu-item,
.second-sub-menu-item {
    width: 320px;
    position: relative;

    &:last-child {
        border: 0;
    }

    &:hover {
        .first-sub-menu-item__link {
            background: $darkgray;
        }
    }

    &__link {
        @include font-menu;
        font-size: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        overflow: hidden;
        width: 100%;
        padding: 8px 40px 8px 20px;
        background: $lightgray;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}

.second-sub-menu-item {
    width: 181px;

    &:first-child {
        .second-sub-menu-item__link {
            border-radius: 8px 8px 0 0;
        }
    }

    &:last-child {
        .second-sub-menu-item__link {
            border-radius: 0px 0px 8px 8px;
        }
    }

    &:hover {
        .second-sub-menu-item__link {
            background: $darkgray;
        }
    }

    &__link {
        padding-right: 12px;
        width: auto;
    }
}

.first-sub-menu-item {
    &:hover {
        .second-sub-menu {
            display: flex;
            left: 342px;
            bottom: 0;
            position: absolute;
        }
    }

    &.drop-icon > a {
        &::after {
            content: "";
            width: 8px;
            height: 6px;
            display: block;
            position: absolute;
            right: 15.5px;
            bottom: 50%;
            transform: translateY(50%) rotate(90deg);
            background-image: url("../images/drop.svg");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &:last-child {
        .first-sub-menu-item__link {
            border-radius: 0px 0px 8px 8px;
        }
    }
}

.second-sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    display: none;

    &::before {
        position: absolute;
        width: 30px;
        background: transparent;
        height: 100%;
        left: -30px;
        content: "";
    }

    &::after {
        position: absolute;
        bottom: 8px;
        left: -14px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 14px 14px 14px 0;
        border-color: transparent $lightgray transparent transparent;
        content: "";
    }
}

.header-hamburger {
    height: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    display: none;

    .bar {
        height: 2px;
        width: 22px;
        background-color: $orange;
    }
}

@media all and (max-width: 950px) {
    .header {
        padding: 0 34px 0 20px;
    }

    .header-hamburger {
        display: flex;
    }

    .menu {
        position: absolute;
        flex-direction: column;
        height: calc(100vh - 80px);
        top: 80px;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: auto;
        width: 374px;
        right: -374px;
        background-color: $darkgray;

        &.show {
            right: 0;
            @include transition(all, 0.2s, linear);
        }

        * {
            background-color: $lightgray !important;
        }

        .drop-icon,
        .drop-icon > a {
            background-color: $darkgray !important;
        }

        &__item {
            padding: 0;
            width: 100%;
            display: block;
            height: auto;
        }
    }

    .menu-item {
        &__link {
            display: block;
            line-height: 64px;

            &.drop-icon > a {
                &::after {
                    right: 0;
                }
            }
        }
    }

    .first-sub-menu,
    .second-sub-menu {
        position: relative;
        display: block;
        height: 0;

        &.show {
            height: auto;
        }
    }

    .drop-icon > a {
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
    }

    .first-sub-menu {
        top: 0;
        overflow: hidden;

        &__item {
            width: 100%;

            &:hover {
                .second-sub-menu {
                    position: relative;
                    left: initial;
                    display: block;
                }
            }
        }

        &::after {
            content: none;
        }
    }

    .second-sub-menu {
        &__item {
            width: 100%;
        }

        &::before {
            content: none;
        }

        &::after {
            content: none;
        }
    }

    .first-sub-menu-item,
    .second-sub-menu-item {
        &:first-child,
        &:last-child {
            border-radius: 0;
            border: 0;
        }

        &__link {
            padding: 20px 30px 20px 20px;
            width: 100%;
            display: inline-flex;
            position: relative;
        }
    }

    .wrapper {
        &.darkmode {
            background-image: linear-gradient(to bottom, rgba(19, 20, 23, 0.5), rgba(19, 20, 23, 0.5)),
                url("../images/alpaca.png");
            background-image: -moz-linear-gradient(top, rgba(19, 20, 23, 0.5), rgba(19, 20, 23, 0.5)),
                url("../images/alpaca.png");
            background-image: -o-linear-gradient(top, rgba(19, 20, 23, 0.5), rgba(19, 20, 23, 0.5)),
                url("../images/alpaca.png");
            background-image: -ms-linear-gradient(top, rgba(19, 20, 23, 0.5), rgba(19, 20, 23, 0.5)),
                url("../images/alpaca.png");
            background-image: -webkit-gradient(
                    linear,
                    left top,
                    left bottom,
                    from(rgba(19, 20, 23, 0.5)),
                    to(rgba(19, 20, 23, 0.5))
                ),
                url("../images/alpaca.png");
            background-image: -webkit-linear-gradient(top, rgba(19, 20, 23, 0.5), rgba(19, 20, 23, 0.5)),
                url("../images/alpaca.png");
        }
    }

    .drop-icon {
        &.show {
            & > a,
            &:hover {
                &:after {
                    transform: translateY(50%) rotate(0) !important;
                }
            }

            & > ul {
                height: auto;
            }
        }

        & > a,
        &:hover {
            &:after {
                transform: translateY(50%) rotate(180deg) !important;
            }
        }
    }
}

@media (max-width: 465px) {
    .header {
        &__contacts {
            display: none;
        }
    }
}

@media (max-width: 403px) {
    .menu {
        width: 100%;
        right: -100%;
    }
}
